@media screen and (min-width: 1180px) and (max-width: 1366px) {
    .mainDashboard {
        width: 95vw;
        /* border: 1px solid #000; */
    }

    #headerLogoAndLocationCon {
        width: 20%;
    }

    .organicFoodCon {
        align-items: start;
        padding-top: 13.5em;
    }
    
    .organicFoodContentCon {
        margin-top: -10em;
        margin-right: -5.5em;
    }

    .pepperImg {
        width: 530px;
    }

    .giftImg {
        display: none;
    }

    .giftImg2 {
        display: block;
        margin: auto;
    }

    /* .hurryUpHeading {
        font-size: 1em;
    } */

    .beefImg {
        width: 305px;
        margin-bottom: -1.3%;
    }

    .appleImg {
        width: 410px;
        margin-bottom: -16.5%;
    }
}