* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --GREEN: #003a00;
    --ALTERNATEGREEN: darkgreen;
    --CHERRYWOOD: #640d14;
    --LIGHTCHERRYWOOD: #7D1820;
    --DARKCHERRYWOOD: #4B0A10;
}

body {
    font-family: 'AEONIK', sans-serif;
    background-color: #dcdcdc29;
}

a {
    text-decoration: none;
}

.advertisement {
    background-color: var(--GREEN);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8%;
    padding: 0.75% 0;
    color: #fff;
    font-size: 0.8em;
    font-weight: 700;
}

.mainDashboard {
    width: 90%;
    /* border: 1px solid #000; */
    margin: auto;
}

.primaryHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
}

.headerLogoAndLocationCon {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2.3em;
    /* border: 1px solid #f00; */
    width: 19%;
}

.bretilMartLogo {
    /* border: 1px solid #000; */
    width: 80px;
    height: 80px;
}

.locationCon {
    display: flex;
    align-items: center;
    gap: 0.5em;
    line-height: 1.4;
    /* border: 1px solid purple; */
}

.locationParagraph {
    color: var(--ALTERNATEGREEN);
    font-size: 0.72em;
    font-weight: 500;
    cursor: pointer;
}

.locationAbuDhabi {
    font-size: 1.3em;
    color: var(--GREEN);
    font-weight: 700;
}

.headerSearchCon {
    /* border: 1px solid #0f0; */
    width: 70%;
    border-radius: 2em;
}

#searchForm {
    position: relative;
}

#searchInput {
    height: 45px;
    width: 100%;
    border-radius: 2em;
    border: none;
    outline: none;
    background-color: #dcdcdc98;
    padding: 0 3.2em;
    color: #000000a0;
}

#searchInput::placeholder {
    color: gray;
}

.searchBtn {
    position: absolute;
    left: 2%;
    top: 30%;
    border: none;
    background-color: #dcdcdc98;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.fa-search {
    color: gray;
}

.headerCartandProfileCon {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.8em;
    /* border: 1px solid #00f; */
    width: 10%;
}

.cartCon {
    background-color: var(--ALTERNATEGREEN);
    position: relative;
    border-radius: 50px;
    padding: 0.5em;
}

.profile {
    background-color: darkorange;
    border-radius: 50px;
    padding: 0.5em 0.6em;
    border: none;
    cursor: pointer;
    position: relative;
}

.profile[data-tooltip]:hover::after {
    content: attr(data-tooltip); /* Use data attribute as tooltip content */
    position: absolute;
    top: 100%; /* Position tooltip below the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
    pointer-events: none;
}

.profile[data-tooltip]:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    z-index: 10;
    pointer-events: none;
}

.profileBtnCon {
    border-radius: 50px;
}

.fa-shopping-basket {
    color: #fff;
}

.zero {
    position: absolute;
    left: 50%;
    top: 10%;
    background-color: darkorange;
    color: #fff;
    font-weight: 700;
    padding: 0.05em 0.3em;
    border-radius: 50px;
    font-size: 0.8em;
}

.headerNavigationCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 0 2.5% 0;
}

.headerNavigation  ul {
    display: flex;
    gap: 1.5em;
}

.headerNavigation ul li {
    list-style-type: none;
}

.navLink {
    color: var(--GREEN);
    font-weight: 500;
    font-size: 0.9em;
}

.utilityLink {
    color: var(--GREEN);
    font-weight: 500;
    font-size: 0.9em;
    padding: 0.3em 0.8em;
}

.utilityLink:nth-child(3) {
    padding: 0.3em 0.8em 0.3em 0.15em;
    background-color: #913a421a;
    border-radius: 1em;
}

.fa-envelope-o {
    background-color: darkorange;
    color: #fff;
    padding: 0.3em;
    border-radius: 50px;
}

.heroSection {
    background: linear-gradient(50deg, var(--DARKCHERRYWOOD), var(--CHERRYWOOD), var(--LIGHTCHERRYWOOD));
    background-size: 400% 400%;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8em 2em 0 5.5em;
    animation: gradientMotion 10s ease infinite;
}

@keyframes gradientMotion {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

/* .heroSectionContentCon, .heroSectionImgCon {
    border: 1px solid #f00;
} */

.heroSectionContentCon {
    width: 50%;
}

.freeDelivery {
    color: gainsboro;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 2em;
    padding: 0.3em 0;
    width: 60%;
    font-size: 0.9em;
}

.truck {
    background-color: #fff;
    padding: 0.2em;
    border-radius: 50px;
}

.heroHeading {
    font-size: 3.5em;
    color: #fff;
    margin: 0.35em 0;
}

.highlight {
    color: darkorange;
}

.serviceDescription {
    color: gainsboro;
    font-size: 0.9em;
    line-height: 1.6;
}


#heroSectionBtnCon {
    width: 130px;
    margin: 2em 0 0 0;
    display: flex;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    border: 1px solid rgba(255, 140, 0, 0.177);
    right: 5%;
    top: 17.7%;
    /* width: 30%; */
    border-radius: 1em;
    background-color: #ffffff;
    padding: 0.3em 0.4em 1.2em 0.4em;
    /* color: ; */
    /* float: right; */
    animation: none;
}

/* Modal Content */
/* .modal-content {
    background-color: gainsboro;
    margin: 8% ;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    right: 0;
    float: right;
    border-radius: 2em;
} */

/* Animation for dropdown */
@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal content animation */
#myModal.show .modal-content {
    animation: dropdown 0.3s ease-out;
}

#emailAndCloseBtn {
    display: flex;
    align-items: center;
    justify-content: end;
    /* border: 1px solid green; */
    width: 300px;
}

#getEmail {
    font-size: 1em;
    color: #000;
    margin: auto;
}

/* Close Button */
.close {
    color: #000;
    font-size: 2.5em;
    border-radius: 50px;
    padding: 0 0.25em;
    transition: all 0.2s ease-in-out;
}

.close:hover,
.close:focus {
    background-color: rgba(220, 220, 220, 0.397);
    cursor: pointer;
}

.profileContainer {
    position: relative;
    /* border: 1px solid #0f0; */
    width: 25%;
    margin: auto;
}

#changeProfileBtn {
    position: absolute;
    right: -20%;
    bottom: 0;
}

.camera {
    background-color: rgba(220, 220, 220, 0.866);
}

.camera:hover {
    background-color: gainsboro;
    color: darkorange;
}

/* Styling the file input (hidden) */
#fileInput {
    display: none;
}

/* Display profile picture in a circular shape */
#profilePic {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid darkorange;
}

#userName {
    font-size: 1.4em;
    text-align: center;
    margin: 0.5em 0;
}

#signOut {
    background-color: darkorange;
    border: none;
    padding: 0.5em 0;
    width: 50%;
    margin: auto;
    font-size: 1em;
    font-weight: 700;
    border-radius: 2em;
    cursor: pointer;
}

.searchByCategoriesSection {
    margin: 5em 0;
}

.searchCategoriesCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.shopCategoriesHeading {
    color: var(--GREEN);
    font-weight: 800;
}

.allCategories {
    color: darkorange;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 700;
}

.searchCatogoriesCardsCon {
    display: flex;
    gap: 0.8em;
    overflow-x: auto;
    cursor: pointer;
    scrollbar-width: none;
}

.searchCatogoriesCardsCon::-webkit-scrollbar {
    display: none;
}

.searchCatogoriesCard {
    background-color: var(--GREEN);
    color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    /* border: 1px solid #f00; */
}

.searchCatogoriesCard:nth-child(2) {
    background-color: purple;
}

.searchCatogoriesCard:nth-child(4) {
    background-color: var(--LIGHTCHERRYWOOD);
}

.searchCatogoriesCard:nth-child(5) {
    background-color: purple;
}

.searchCatogoriesCard:nth-child(6) {
    background-color: var(--LIGHTCHERRYWOOD);
}

.searchCatogoriesCard:nth-child(7) {
    background-color: var(--ALTERNATEGREEN);
}

.searchCatogoriesCard:nth-child(8) {
    background-color: var(--CHERRYWOOD);
}

.searchCatogoriesCard:nth-child(9) {
    background-color: var(--ALTERNATEGREEN);
}

.searchContent {
    margin: 0.2em 0 1em 0;
    line-height: 1.5;
    text-align: center;
}

.brand {
    font-size: 1.1em;
}

.market {
    font-size: 0.9em;
}

.brandPic {
    width: 210px;
    height: 200px;
}
